*.com
*.class
*.dll
*.exe
*.o
*.class
*.dex
*.apk
*.ap_

bin/
gen/
obj/
tmp/
out/
proguard/
proguard_logs/
build/

project.properties
build.xml
.loadpath
.buildpath
.metadata
.checkstyle
local.properties
*.pydevproject
*.tmp
*.launch
*.bak
*.swp
*~.nib
*.iml
*.project
.settings/
.externalToolBuilders/
.svn/
.idea/
.gradle/

